/*@media(max-width: 767px){
	.header{
		font-size: 25px;
	}
}*/
/*@media(min-width: 768px) and (max-width: 1200px){
	.header{
		font-size: 30px;
	}
}*/
@media(max-width: 900px){

	.container .first{
		position: static;
		display: block;
		width: 90%;
		margin: 0px 5%;
		height: 33.3333%;
		left: 0;
		/*top:;*/
	}
	.container .second{
		position: static;
		display: inline-block;
		width: 90%;
		margin: 0px 5%;
		height: 33.3333%;
		left: 0;
	}
	.container .third{
		position: static;
		display: inline-block;
		width: 90%;
		margin: 0px 5%;
		height: 33.3333%;
		left: 0;
		top: 0;
	}
	.second img{
		position: relative;
		width: 30%;
		left: 35%;

	}
}